
# temporary files
_tmp_*

# emacs temporary files
*~
\#*#

# emacs directory local variables file
/.dir-locals.el

# python temporary file
*.pyc

# slurm output files
/*.out

# symbolic link
/dataset

# directories for baseline code
/output
/output-keep
/output-test
/output-test-keep
/log
/pretrained
/baseline-processed

# pre-processed data
/processed

# model-instance
/model-instance
/model-instance-keep

# model-test
/model-test
/model-test-keep