
# temporary files
_tmp_*

# emacs temporary files
*~
\#*#

# emacs directory local variables file
/.dir-locals.el

# python temporary file
*.pyc

# symbolic link
/dataset

# directories
/processed
/output
/log
/pretrained

# slurm output files
/*.out

# for baseline code
/baseline-processed

# model-instance
/model-instance

# model-test
/model-test