[submodule ".submodules/KoPL"]
	path = .submodules/KoPL
	url = https://github.com/daehwannam/KoPL.git
[submodule ".submodules/splogic"]
	path = .submodules/splogic
	url = https://github.com/daehwannam/splogic.git
